ipynb to py conversion:
wrote 46479 to file
total=34445, successful=34418

calls counting: idx+1=46868, successful=45464

In [1]:
import pandas
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

sns.set_theme(style="whitegrid")

df=pandas.read_csv('func_report7Jul.csv')

print(df)

                Function  Counter  \
0                  print        1
1                 decode        1
2           check_output        1
3                  print        8
4                   join        5
...                  ...      ...
1505964  metric_classify        1
1505965       startswith        1
1505966             size        1
1505967              cpu        1
1505968           detach        1

                                                    Kernel
0        G:\bachelor\bigsample\4quant\soft-tissue-sarco...
1        G:\bachelor\bigsample\4quant\soft-tissue-sarco...
2        G:\bachelor\bigsample\4quant\soft-tissue-sarco...
3        G:\bachelor\bigsample\4quant\soft-tissue-sarco...
4        G:\bachelor\bigsample\4quant\soft-tissue-sarco...
...                                                    ...
1505964  G:\bachelor\bigsample\zzy990106\shopee-folds\k...
1505965  G:\bachelor\bigsample\zzy990106\shopee-folds\k...
1505966  G:\bachelor\bigsample\zzy990106\shopee-folds\k...
1505967  G:\bachelor\bigsample\zzy990106\shopee-folds\k...
1505968  G:\bachelor\bigsample\zzy990106\shopee-folds\k...

[1505969 rows x 3 columns]

In [2]:
most_common = df.groupby('Function').sum().sort_values(by=['Counter'], ascending=False).reset_index()
most_common.head(15)

        Function  Counter
0          print   280993
1           head   103937
2           show    99426
3            len    96143
4       read_csv    78295
5          range    67002
6         figure    63641
7           plot    62419
8          title    61881
9            sum    58868
10        append    56619
11       groupby    51653
12           fit    50483
13  value_counts    48920
14       predict    43009

In [3]:
front_end = ['print', 'get_ipython', 'show', 'set_title', 'title', 'subplit', 'set_ylabel', 'set_xlabel', 'subplot', 'heatmap','subplots', 'histplot','plot','ylabel']
mc_trimmed = most_common[~most_common['Function'].isin(front_end)]
mc_trimmed.head(15)

#filter pandas
#

        Function  Counter
1           head   103937
3            len    96143
4       read_csv    78295
5          range    67002
6         figure    63641
9            sum    58868
10        append    56619
11       groupby    51653
12           fit    50483
13  value_counts    48920
14       predict    43009
15          list    40657
16          drop    39428
18     DataFrame    38755
19          mean    36743